@charset "utf-8";

main, header, nav, article, aside, footer{
    border: 1px solid gray;
    padding: 10px;
}

main{
    width: 90%
}

body{
    background-image: url('hatter.jpg');
    color: white;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header{
    flex: 0 0 100%;
    order: 0;
}

footer{
    flex: 0 0 100%;
    order: 4;
    align-items: center;
}

aside{
    flex: 0 0 25%;
}

article{
    flex: 0 0 50%;
    order: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
*{
    box-sizing: border-box;
}

#elso{
    order: 1;
}

#masod{
    order: 3;
}

nav ul{
    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

nav li{
    list-style-type: none;
    padding: 10px;
}
nav li:hover{
    background-color: red;
    color: white;
}

nav a{
    text-decoration: none;
}

article div{
    flex: 0 0 33%;
}

article div img{
    width: 100%;
}

@media screen and (max-width: 850px){
    main{
        flex-direction: column;
    }
    article{
        order: 1;
    }
}

@media screen and (max-width: 514px){
    article{
        flex-direction: column;
    }
    nav{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }
}